<div class="col-md-4 offset-md-4" style="padding-top: 80px;">
  <h5 class="text-center">Login</h5>
  <br />
  <form action="login" method="post">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        placeholder="Enter your Email"
        class="form-control"
      />
    </div>
    <br />
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        placeholder="Enter your Password"
        class="form-control"
      />
    </div>
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>